main{
    min-height: 80vh;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.rating span{ 
    margin: 0.1rem
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

p{
    font-family: 'DM Sans', sans-serif;
}

button.btn-primary.btn-primary{
    color: black;
    background: #FFC107;
    border: none;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    

}

.input-group .input-group-text{
    background-color: none;
    border: none;
}